# **Welcome to the GSoC 2022 TARDIS Challenge!**

This challenge aims to inform potential applicants about the science mission of the TARDIS Collaboration. It is also an opportunity to demostrate your creativity and resourcefulness while solving problems.

**Let's begin!**

First we need to install some dependencies and download some data. Please run each cell in order by pressing shift-enter.

In [17]:
!pip install numpy==1.15.4

#You might be asked to restart runtime. Please do so.

Requirement already satisfied: numpy==1.15.4 in /usr/local/lib/python3.7/dist-packages (1.15.4)

In [18]:
# Download the atomic data

!wget "https://github.com/tardis-sn/tardis-refdata/raw/master/atom_data/kurucz_cd23_chianti_H_He.h5"

--2022-03-27 17:22:16--  https://github.com/tardis-sn/tardis-refdata/raw/master/atom_data/kurucz_cd23_chianti_H_He.h5
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://media.githubusercontent.com/media/tardis-sn/tardis-refdata/master/atom_data/kurucz_cd23_chianti_H_He.h5 [following]
--2022-03-27 17:22:16--  https://media.githubusercontent.com/media/tardis-sn/tardis-refdata/master/atom_data/kurucz_cd23_chianti_H_He.h5
Resolving media.githubusercontent.com (media.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to media.githubusercontent.com (media.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73704476 (70M) [application/octet-stream]
Saving to: ‘kurucz_cd23_chianti_H_He.h5.1’

kurucz_cd23_chianti 100%[===================>]  70.29M   183MB/s    in 0.4s

2022-03-27 17:22:17 (183 MB/s) - ‘kurucz_cd23_chianti_H_He.h5.1’ saved [73704476/73704476]

In [19]:
#Read in atomic data using pandas

import pandas as pd

data = pd.HDFStore('kurucz_cd23_chianti_H_He.h5')

In [20]:
# Different datasets are stored in the h5 file

set(data)

{'/atom_data',
 '/collision_data',
 '/collision_data_temperatures',
 '/ionization_data',
 '/levels',
 '/lines',
 '/macro_atom_data',
 '/macro_atom_references',
 '/zeta_data'}

---

#### When a star ends its life in a supernova explosion it releases a huge amount of material we call **ejecta**. 

<img src="https://en.es-static.us/upl/2015/01/supernova-artist-e1493935487104.jpg" width="500" height="500">


#### The ejecta is made up of lots of different elements. As light travels through the ejecta it gets absorbed and emitted many times by different atoms before leaving the ejecta and traveling through space to reach our telescopes.

--- 
#### Supernova light then goes through a prism-like instrument that spreads out the light into different colors or wavelengths. The spread out light is called a **spectrum**. 


![image.png]()


#### TARDIS is able to create a simulated supernova spectrum that astronomers use to study the physics of exploding stars. 

#### The atomic data we just downloaded is an integral part of the TARDIS code. It is used everytime a user tries to make simulated supernova spectrum.

In [21]:
data['atom_data']

              symbol        name       mass
atomic_number
1                  H    Hydrogen   1.007975
2                 He      Helium   4.002602
3                 Li     Lithium   6.967500
4                 Be   Beryllium   9.012183
5                  B       Boron  10.813500
6                  C      Carbon  12.010600
7                  N    Nitrogen  14.006855
8                  O      Oxygen  15.999400
9                  F    Fluorine  18.998403
10                Ne        Neon  20.179700
11                Na      Sodium  22.989769
12                Mg   Magnesium  24.305500
13                Al   Aluminium  26.981538
14                Si     Silicon  28.085000
15                 P  Phosphorus  30.973762
16                 S      Sulfur  32.067500
17                Cl    Chlorine  35.451500
18                Ar       Argon  39.948000
19                 K   Potassium  39.098300
20                Ca     Calcium  40.078000
21                Sc    Scandium  44.955908
22                Ti    Titanium  47.867000
23                 V    Vanadium  50.941500
24                Cr    Chromium  51.996100
25                Mn   Manganese  54.938044
26                Fe        Iron  55.845000
27                Co      Cobalt  58.933194
28                Ni      Nickel  58.693400
29                Cu      Copper  63.546000
30                Zn        Zinc  65.380000

---

# TASK #1 
**Background**

- Iron Group Elements (IGE) are Cr, Mn, Fe, Co, Ni. They are particularly important elements that are found in the ejecta of supernovas. 

***Mission A*: Make a new pandas dataframe with elements that have atomic masses between 51 and 60 (Iron Group Elements)**

In [22]:
print(data['atom_data']['mass'])

atomic_number
1      1.007975
2      4.002602
3      6.967500
4      9.012183
5     10.813500
6     12.010600
7     14.006855
8     15.999400
9     18.998403
10    20.179700
11    22.989769
12    24.305500
13    26.981538
14    28.085000
15    30.973762
16    32.067500
17    35.451500
18    39.948000
19    39.098300
20    40.078000
21    44.955908
22    47.867000
23    50.941500
24    51.996100
25    54.938044
26    55.845000
27    58.933194
28    58.693400
29    63.546000
30    65.380000
Name: mass, dtype: float64

In [33]:
# Let's grab all the elements with masses between 51 and 60 (Iron group elements)

Iron_group_elements_ = (data['atom_data']['mass'] > 51.0) & (data['atom_data']['mass'] < 60.0)
Iron_group_elements = data['atom_data'][Iron_group_elements_]

In [34]:
# Print out the new dataframe called Iron_group_elements

Iron_group_elements_df

              symbol       name       mass
atomic_number
24                Cr   Chromium  51.996100
25                Mn  Manganese  54.938044
26                Fe       Iron  55.845000
27                Co     Cobalt  58.933194
28                Ni     Nickel  58.693400

<details>
  <summary>Hint!</summary>
  

*   Make conditions to create a series object
*   ie. data['atom_data']['mass'] > 50


</details>

***Mission B*: Add a new column called IGE to data['atom_data']** *Optional challenge*

- The IGE(Iron Group Elements) value can either be 1 or True if the element is an IGE , or 0 or False if it is not an IGE.

In [35]:
df = data['atom_data']



# Add new column called IGE to df 
df['IGE'] = Iron_group_elements_
#
#
#

In [36]:
# Print out the new dataframe with IGE column

df

              symbol        name       mass    IGE
atomic_number
1                  H    Hydrogen   1.007975  False
2                 He      Helium   4.002602  False
3                 Li     Lithium   6.967500  False
4                 Be   Beryllium   9.012183  False
5                  B       Boron  10.813500  False
6                  C      Carbon  12.010600  False
7                  N    Nitrogen  14.006855  False
8                  O      Oxygen  15.999400  False
9                  F    Fluorine  18.998403  False
10                Ne        Neon  20.179700  False
11                Na      Sodium  22.989769  False
12                Mg   Magnesium  24.305500  False
13                Al   Aluminium  26.981538  False
14                Si     Silicon  28.085000  False
15                 P  Phosphorus  30.973762  False
16                 S      Sulfur  32.067500  False
17                Cl    Chlorine  35.451500  False
18                Ar       Argon  39.948000  False
19                 K   Potassium  39.098300  False
20                Ca     Calcium  40.078000  False
21                Sc    Scandium  44.955908  False
22                Ti    Titanium  47.867000  False
23                 V    Vanadium  50.941500  False
24                Cr    Chromium  51.996100   True
25                Mn   Manganese  54.938044   True
26                Fe        Iron  55.845000   True
27                Co      Cobalt  58.933194   True
28                Ni      Nickel  58.693400   True
29                Cu      Copper  63.546000  False
30                Zn        Zinc  65.380000  False

---

# TASK #2

**Background**
 - Radioactive Nickel-56 is produced in large quantities in supernovas. A lot of the supernova light (photons) that we see comes from the decay of nickel-56 to cobalt-56

 - Ni$^{56}$ $\rightarrow$  Co$^{56}$ + $\gamma$ (photons) + $\nu$ (neutrinos)

 - Total energy emitted via $\gamma$ photons = 1.75 MeV (Mega electron volts) 
 - Total energy emitted via $\nu$ neutrinos = 0.41 MeV (Mega electron volts)

**Mission: Make a function that takes in the number of nickel-56 and outputs the energy released by photons and neutrinos**

In [37]:
def Ni56toCo56 (Ni56):



  # Function that inputs number of Ni56 atoms and outputs energy of photons and neutrinos
  
  E_photons = format((Ni56_number * 1750000),'.3e')
  E_neutrinos = format((Ni56_number * 410000),'.3e')
  
   

   
   
  
  # Optional:
  # Try to return E_photons and E_neutrinos in scientific notation with 4 significant figures (ie. 1750000.0 --> 1.750e6)
  #

  return E_photons, E_neutrinos

In [38]:
# Test your function here

# Number of Nickel-56 atoms 
Ni56_number = 10**6
E_photons, E_neutrinos = Ni56toCo56(Ni56_number)

In [39]:
# Results 
print('E_photons = ', E_photons, 'MeV')
print('E_neutrinos = ', E_neutrinos, 'MeV')

E_photons =  1.750e+12 MeV
E_neutrinos =  4.100e+11 MeV

--- 

# TASK #3

**Background**
 - Supernovas can release up to 1.2  solar masses of Nickel-56 (meaning they can release more mass than is in our Sun!)
 
 - We will assume that all of the Nickel-56 decays and releases energy

**Mission: How much TOTAL energy is released by Ni56 in a supernova?**

Feel free to solve this problem using whatever method you would like

In [40]:
# If you want to use the function from Task 2, you will need to find out how many Nickel 56 atoms are in 1.2 solar masses
def Ni56_in_solarmass(solarmass):

  Ni56_number = (solarmass*(1.198*(10**57)))/56
  return Ni56_number

<details>
  <summary>Hint!</summary>
  
*   Create a function that will convert solar_mass to Ni56_number
*   1 solar mass = 1.198*10^(57) Daltons (atomic mass units)
*   There are ~ 56 atomic mass units in Nickel-56


</details>

In [42]:
# Calculate total energy released (Assuming you used the Ni56toCo56 function from Task 2 )
solarmass = 1.2
Ni56_number = Ni56_in_solarmass(solarmass)
E_photons, E_neutrinos = Ni56toCo56(Ni56_number)
E_total = float(E_photons) + float(E_neutrinos)

In [43]:
# Print results

print('Energy release by Ni56 in a supernova = ', E_total, ' MeV')
print('    ')
print('For comparison:') 
print('Energy released by the most powerful nuclear weapon ever detonated is 1.3e30 MeV')

Energy release by Ni56 in a supernova =  5.546e+61  MeV

For comparison:
Energy released by the most powerful nuclear weapon ever detonated is 1.3e30 MeV

### Finished! 
## You figured out that supernovas are some of the most powerful explosions in the Universe!