In [1]:
import pandas as pd

df = pd.read_csv('Dataset/nyc_temperatures.csv')
df.head()

                  date datatype            station attributes  value
0  2018-10-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,   21.2
1  2018-10-01T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2  2018-10-01T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
3  2018-10-02T00:00:00     TAVG  GHCND:USW00014732      H,,S,   22.7
4  2018-10-02T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

### Renaming Columns

In [2]:
df.columns

Index(['date', 'datatype', 'station', 'attributes', 'value'], dtype='object')

In [3]:
df.rename(
    columns = {
        'attributes': 'flags',
        'value': 'temp_C'
                
    }, inplace=True
)

In [4]:
df.columns

Index(['date', 'datatype', 'station', 'flags', 'temp_C'], dtype='object')

In [5]:
df.rename(str.upper, axis = 'columns').columns

Index(['DATE', 'DATATYPE', 'STATION', 'FLAGS', 'TEMP_C'], dtype='object')

### Type Conversion

In [6]:
df.dtypes

date         object
datatype     object
station      object
flags        object
temp_C      float64
dtype: object

In [7]:
df.loc[:, 'date'] = pd.to_datetime(df.date)

In [8]:
df.dtypes

date        datetime64[ns]
datatype            object
station             object
flags               object
temp_C             float64
dtype: object

In [11]:
df.date.describe(datetime_is_numeric= True)

count                     93
mean     2018-10-16 00:00:00
min      2018-10-01 00:00:00
25%      2018-10-08 00:00:00
50%      2018-10-16 00:00:00
75%      2018-10-24 00:00:00
max      2018-10-31 00:00:00
Name: date, dtype: object

In [12]:
df.date.describe(datetime_is_numeric= False)

<ipython-input-12-878db27cc518>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.date.describe(datetime_is_numeric= False)

count                      93
unique                     31
top       2018-10-20 00:00:00
freq                        3
first     2018-10-01 00:00:00
last      2018-10-31 00:00:00
Name: date, dtype: object

### Convert the Timezone

In [13]:
pd.date_range(start='2018-10-25', periods=2, freq='D').tz_localize('EST')

DatetimeIndex(['2018-10-25 00:00:00-05:00', '2018-10-26 00:00:00-05:00'], dtype='datetime64[ns, EST]', freq=None)

In [20]:
pd.date_range(start='2018-10-25', periods=2, freq='M').tz_localize('EST')

DatetimeIndex(['2018-10-31 00:00:00-05:00', '2018-11-30 00:00:00-05:00'], dtype='datetime64[ns, EST]', freq=None)