In [1]:
import datetime as dt
import pandas as pd
import numpy as np

### Creating a Series Object

In [2]:
np.random.seed(3)
pd.Series(np.random.rand(6), name='random')

0    0.550798
1    0.708148
2    0.290905
3    0.510828
4    0.892947
5    0.896293
Name: random, dtype: float64

### Creating a DataFrame object from a Series object
Use the to_frame() method:

In [3]:
pd.Series(np.linspace(0, 10, num=6)).to_frame()

      0
0   0.0
1   2.0
2   4.0
3   6.0
4   8.0
5  10.0

### Creating a DataFrame from Python Data Structures
#### From a dictionary of list-like structures
The dictionary values can be lists, NumPy arrays, etc. as long as they have length (generators don't have length so we can't use them here):

In [5]:
np.random.seed(3)
pd.DataFrame(
    {
        
        'random': np.random.rand(6),
        'text': ['hot', 'warm', 'cool', 'cold', 'hot', None],
        'truth': [np.random.choice([True, False]) for _ in range(6)]
    },
    index = pd.date_range(
        end = dt.date(2019, 4, 21),
        freq = '1D',
        periods = 6,
        name = 'Date'
    )




)

              random  text  truth
Date
2019-04-16  0.550798   hot  False
2019-04-17  0.708148  warm  False
2019-04-18  0.290905  cool   True
2019-04-19  0.510828  cold  False
2019-04-20  0.892947   hot  False
2019-04-21  0.896293  None   True

### From a list of Dictionaries

In [6]:
pd.DataFrame([
    {'mag': 5.2, 'place': 'California'},
    {'mag': 1.2, 'place': 'Alaska'},
    {'mag': 0.2, 'place': 'California'}
])

   mag       place
0  5.2  California
1  1.2      Alaska
2  0.2  California

### From a list of tuples

In [7]:
list_of_tuples = [(n, n**2, n**3) for n in range(6)]
list_of_tuples

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64), (5, 25, 125)]

In [8]:
pd.DataFrame(
    list_of_tuples,
    columns = ['n', 'n_squared', 'n_cubed']

)

   n  n_squared  n_cubed
0  0          0        0
1  1          1        1
2  2          4        8
3  3          9       27
4  4         16       64
5  5         25      125

### From a Numpy Array

In [10]:
pd.DataFrame(
    np.array([
        [0, 0, 0],
        [1, 1, 1],
        [2, 4, 8],
        [3, 9, 27],
        [4, 16, 64],
        [5, 25, 125]
        
    ]), columns=['n', 'n_squared', 'n_cubed']
)

   n  n_squared  n_cubed
0  0          0        0
1  1          1        1
2  2          4        8
3  3          9       27
4  4         16       64
5  5         25      125