In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('train_wn75k28.csv')
df_test = pd.read_csv('test_Wf7sxXF.csv')
df_train.head(5)

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0

In [5]:
df_train['signup_date_isnull']  = df_train['signup_date'].isnull().astype(int)
df_test['signup_date_isnull']  = df_test['signup_date'].isnull().astype(int)

In [6]:
df_train['signup_date_month'] = pd.to_datetime(df_train['signup_date']).dt.month
df_test['signup_date_month'] = pd.to_datetime(df_test['signup_date']).dt.month

In [7]:
df_train['signup_date_month'] = df_train['signup_date_month'].fillna(df_train['signup_date_month'].mode()[0])
df_test['signup_date_month'] = df_test['signup_date_month'].fillna(df_train['signup_date_month'].mode()[0])

In [9]:
df_train['created_at'] = pd.to_datetime(df_train.created_at)
df_train['created_at'].dtypes

dtype('<M8[ns]')

In [10]:
df_test['created_at'] = pd.to_datetime(df_test.created_at)
df_test['created_at'].dtypes

dtype('<M8[ns]')

In [11]:
df_train['created_month'] = df_train['created_at'].dt.month
df_train['created_week'] = df_train['created_at'].dt.isocalendar().week.astype("int64")
df_train['created_day'] = df_train['created_at'].dt.day
df_train.head(3)

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy,signup_date_isnull,signup_date_month,created_month,created_week,created_day
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,...,0,0,0,0,0,0,9.0,1,53,1
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,...,0,0,0,0,0,0,9.0,1,53,1
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,...,0,0,0,0,0,0,8.0,1,53,1

In [12]:
df_test['created_month'] = df_test['created_at'].dt.month
df_test['created_week'] = df_test['created_at'].dt.isocalendar().week.astype("int64")
df_test['created_day'] = df_test['created_at'].dt.day
df_test.head(3)

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,signup_date_isnull,signup_date_month,created_month,created_week,created_day
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,...,0,0,0,1,0,0,8.0,1,52,1
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,...,1,0,0,0,0,0,5.0,1,52,1
2,39164,2022-01-01,8,7,NaN,NaN,0,0,0,0,...,0,0,0,0,0,1,3.0,1,52,1

In [13]:
# Printing data types of each data set
print('Train dataset :', df_train.dtypes)
print('Test dataset :', df_test.dtypes)


# Printing the null values in each column
print('\n\nNull Values')
print('\nTrain dataset :', df_train.isnull().sum())
print('\nTest dataset :', df_test.isnull().sum())

Train dataset : id                               int64
created_at              datetime64[ns]
campaign_var_1                   int64
campaign_var_2                   int64
products_purchased             float64
signup_date                     object
user_activity_var_1              int64
user_activity_var_2              int64
user_activity_var_3              int64
user_activity_var_4              int64
user_activity_var_5              int64
user_activity_var_6              int64
user_activity_var_7              int64
user_activity_var_8              int64
user_activity_var_9              int64
user_activity_var_10             int64
user_activity_var_11             int64
user_activity_var_12             int64
buy                              int64
signup_date_isnull               int64
signup_date_month              float64
created_month                    int64
created_week                     int64
created_day                      int64
dtype: object
Test dataset : id                               int64
created_at              datetime64[ns]
campaign_var_1                   int64
campaign_var_2                   int64
products_purchased             float64
signup_date                     object
user_activity_var_1              int64
user_activity_var_2              int64
user_activity_var_3              int64
user_activity_var_4              int64
user_activity_var_5              int64
user_activity_var_6              int64
user_activity_var_7              int64
user_activity_var_8              int64
user_activity_var_9              int64
user_activity_var_10             int64
user_activity_var_11             int64
user_activity_var_12             int64
signup_date_isnull               int64
signup_date_month              float64
created_month                    int64
created_week                     int64
created_day                      int64
dtype: object


Null Values

Train dataset : id                          0
created_at                  0
campaign_var_1              0
campaign_var_2              0
products_purchased      20911
signup_date             15113
user_activity_var_1         0
user_activity_var_2         0
user_activity_var_3         0
user_activity_var_4         0
user_activity_var_5         0
user_activity_var_6         0
user_activity_var_7         0
user_activity_var_8         0
user_activity_var_9         0
user_activity_var_10        0
user_activity_var_11        0
user_activity_var_12        0
buy                         0
signup_date_isnull          0
signup_date_month           0
created_month               0
created_week                0
created_day                 0
dtype: int64

Test dataset : id                         0
created_at                 0
campaign_var_1             0
campaign_var_2             0
products_purchased      8136
signup_date             6649
user_activity_var_1        0
user_activity_var_2        0
user_activity_var_3        0
user_activity_var_4        0
user_activity_var_5        0
user_activity_var_6        0
user_activity_var_7        0
user_activity_var_8        0
user_activity_var_9        0
user_activity_var_10       0
user_activity_var_11       0
user_activity_var_12       0
signup_date_isnull         0
signup_date_month          0
created_month              0
created_week               0
created_day                0
dtype: int64

In [14]:
X_train = df_train.drop(['signup_date','buy', 'products_purchased',
                         'created_at'], axis=1)
print(X_train.shape)
X_test = df_test.drop(['signup_date','products_purchased',
                       'created_at'], axis=1)
print(X_test.shape)
y_train = df_train['buy']

(39161, 20)
(13184, 20)

In [15]:
print('\nTrain dataset :', X_train.isnull().sum())
print('\nTest dataset :', X_test.isnull().sum())

Train dataset : id                      0
campaign_var_1          0
campaign_var_2          0
user_activity_var_1     0
user_activity_var_2     0
user_activity_var_3     0
user_activity_var_4     0
user_activity_var_5     0
user_activity_var_6     0
user_activity_var_7     0
user_activity_var_8     0
user_activity_var_9     0
user_activity_var_10    0
user_activity_var_11    0
user_activity_var_12    0
signup_date_isnull      0
signup_date_month       0
created_month           0
created_week            0
created_day             0
dtype: int64

Test dataset : id                      0
campaign_var_1          0
campaign_var_2          0
user_activity_var_1     0
user_activity_var_2     0
user_activity_var_3     0
user_activity_var_4     0
user_activity_var_5     0
user_activity_var_6     0
user_activity_var_7     0
user_activity_var_8     0
user_activity_var_9     0
user_activity_var_10    0
user_activity_var_11    0
user_activity_var_12    0
signup_date_isnull      0
signup_date_month       0
created_month           0
created_week            0
created_day             0
dtype: int64

In [16]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [17]:


import xgboost as xgb
from sklearn.metrics import f1_score
model = xgb.XGBClassifier(n_estimators=1000, learning_rate=0.05,
                           max_depth=4, random_state=1,
                           use_label_encoder=True)

In [19]:
gbm = model.fit(X_train, y_train)

y_train_pred = gbm.predict(X_train)
y_test = gbm.predict(X_test)

gbm_train = f1_score(y_train, y_train_pred)




print(f'XGboost train accuracies 'f'{gbm_train:.3f}')

/home/chinmayee/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[20:10:36] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
XGboost train accuracies 0.734

In [20]:
Submission = pd.DataFrame({'id':df_test['id'].values})
Submission['buy']=y_test

Submission.head()

      id  buy
0  39162    1
1  39163    0
2  39164    0
3  39165    1
4  39166    0

In [21]:
Submission.head(1)

      id  buy
0  39162    1

In [ ]:
Submission.to_csv('sample_submission_xgboost_9.csv', index=False)