## Finding information on the file before reading it in

### Number of lines(row counts)

In [1]:
!wc -l Dataset/earthquakes.csv

9333 Dataset/earthquakes.csv

In [2]:
!wc -l Dataset/item_categories.csv

85 Dataset/item_categories.csv

In [4]:
!ls -lh Dataset | grep earthquakes.csv

-rw-rw-r-- 1 chinmayee chinmayee 3.4M May 27 13:57 earthquakes.csv

In [5]:
!awk -F',' '{print NF; exit}' Dataset/earthquakes.csv

26

In [6]:
!awk -F',' '{print NF; exit}' Dataset/item_categories.csv

2

In [10]:
import pandas as pd
df = pd.read_csv('Dataset/earthquakes.csv')

## Writing a DataFrame Object to a CSV File


#### Note that the index of df is just row numbers, so we don't want to keep it. Therefore, we pass index=False to the to_csv() method:

In [12]:
df.to_csv('output.csv', index=False)

## Writing a DataFrame Object to a Database

In [13]:
import sqlite3

In [15]:
with sqlite3.connect('Dataset/quakes.db') as connection:
    pd.read_csv('Dataset/tsunamis.csv').to_sql(
        'tsunamis', connection, index=False, if_exists='replace'
    )

NameError: name 'tsunamis' is not defined

In [17]:
import sqlite3

with sqlite3.connect('data/quakes.db') as connection:
    tsunamis = pd.read_sql('SELECT * FROM tsunamis', connection)

tsunamis.head()

OperationalError: unable to open database file