## 4 Types of Classification Tasks in Machine Learning

#### A tutorial from Machine Learning mastery https://machinelearningmastery.com/types-of-classification-in-machine-learning/

### Overview

0. Binary Classification
1. Multi-class Classification
2. Multi-Label Classification
3. Imbalanced Classification

### Binary Classification

 ### Popular algorithms that can be used for binary classification include:
 
 - Logistic Regression
 - k-Nearest Neighbors
 - Decision Trees
 - Support Vector Machine
 - Naive Bayes

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from IPython.display import display

In [11]:
Dataset = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"

df = pd.read_csv(Dataset)
display(df.head())

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4